/* line 17, ../../../../../.gem/ruby/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.gem/ruby/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.gem/ruby/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.gem/ruby/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.gem/ruby/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.gem/ruby/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.gem/ruby/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.gem/ruby/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.gem/ruby/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Icons';
  src: url("../fonts/open-iconic.eot");
  src: url("../fonts/open-iconic.eot?#iconic-sm") format("embedded-opentype"), url("../fonts/open-iconic.woff") format("woff"), url("../fonts/open-iconic.ttf") format("truetype"), url("../fonts/open-iconic.otf") format("opentype"), url("../fonts/open-iconic.svg#iconic-sm") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 3, ../../src/style/main.scss */
html, body {
  height: 100%;
}

/* line 8, ../../src/style/main.scss */
body.menu-expanded {
  overflow: hidden;
}

/* line 13, ../../src/style/main.scss */
.app-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* line 18, ../../src/style/main.scss */
#app-root, .app-container, #app-root > div {
  height: 100%;
}

@media screen and (min-width: 900px) {
  /* line 23, ../../src/style/main.scss */
  body, html {
    overflow: hidden;
  }
}
/* line 1, ../../src/style/_header.scss */
header {
  min-height: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  border-bottom: 4px solid #1c283a;
}
/* line 7, ../../src/style/_header.scss */
header .menu-icon {
  font-size: 0px;
  color: #fff;
  padding: 13px;
  text-align: center;
  background-color: #1c283a;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -moz-order: 2;
  -ms-flex-order: 2;
  order: 2;
}
/* line 24, ../../src/style/_base.scss */
header .menu-icon:before {
  font-family: "Icons";
  content: "\e09b";
  font-size: 20px;
}
/* line 16, ../../src/style/_header.scss */
header .logo {
  height: 45px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
/* line 20, ../../src/style/_header.scss */
header .logo img {
  height: 50px;
  padding-top: 5px;
  padding-left: 5px;
  margin-right: 5px;
  position: relative;
  z-index: 1;
}
/* line 28, ../../src/style/_header.scss */
header .logo .text {
  display: inline-block;
  vertical-align: middle;
  height: 45px;
  position: relative;
  top: -20px;
}
/* line 35, ../../src/style/_header.scss */
header .logo .text .ghoul {
  font-family: "EB Garamond";
  font-size: 35px;
  margin-right: 2px;
}
/* line 42, ../../src/style/_header.scss */
header .search-box {
  display: none;
}

@media screen and (min-width: 900px) {
  /* line 49, ../../src/style/_header.scss */
  header .menu-icon {
    display: none;
  }
  /* line 52, ../../src/style/_header.scss */
  header .search-box {
    display: block;
    width: 300px;
    margin: 3px;
  }
}
/* line 1, ../../src/style/_sidebar.scss */
.search-box {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #B2F785;
  font-size: 0px;
}
/* line 24, ../../src/style/_base.scss */
.search-box:before {
  font-family: "Icons";
  content: "\e08f";
  font-size: 20px;
}
/* line 8, ../../src/style/_sidebar.scss */
.search-box:before {
  font-size: 16px;
  position: absolute;
  margin-top: 11px;
  margin-left: 5px;
  color: #888;
}
/* line 16, ../../src/style/_sidebar.scss */
.search-box input {
  width: 100%;
  border: 1px inset;
  height: 25px;
  padding: 5px;
  padding-left: 30px;
  font-size: 14px;
  background-color: #fdfdfd;
}

/* line 27, ../../src/style/_sidebar.scss */
#sidebar {
  display: none;
  position: fixed;
  background: #3b5950;
  border-right: 1px solid #1c283a;
  overflow-y: auto;
  min-width: 85%;
  height: 100%;
  top: 0px;
  z-index: 2;
}
/* line 38, ../../src/style/_sidebar.scss */
#sidebar a {
  display: block;
  font-family: "Open Sans";
  padding: 0.75em;
  cursor: pointer;
  color: #fff;
  border-bottom: 1px solid #506760;
}
/* line 47, ../../src/style/_sidebar.scss */
#sidebar .icon-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
/* line 51, ../../src/style/_sidebar.scss */
#sidebar .icon-buttons .menu-icon {
  color: #8c9b96;
  padding: 1.4rem;
  margin: 2px auto;
  border: 1px solid #3b5950;
}
/* line 58, ../../src/style/_sidebar.scss */
#sidebar .icon-buttons .add-group {
  font-size: 0px;
}
/* line 24, ../../src/style/_base.scss */
#sidebar .icon-buttons .add-group:before {
  font-family: "Icons";
  content: "\e06b";
  font-size: 20px;
}
/* line 61, ../../src/style/_sidebar.scss */
#sidebar .icon-buttons .add-feed {
  font-size: 0px;
}
/* line 24, ../../src/style/_base.scss */
#sidebar .icon-buttons .add-feed:before {
  font-family: "Icons";
  content: "\e0b8";
  font-size: 20px;
}
/* line 64, ../../src/style/_sidebar.scss */
#sidebar .icon-buttons .import-feeds {
  font-size: 0px;
}
/* line 24, ../../src/style/_base.scss */
#sidebar .icon-buttons .import-feeds:before {
  font-family: "Icons";
  content: "\e03d";
  font-size: 20px;
}
/* line 67, ../../src/style/_sidebar.scss */
#sidebar .icon-buttons .export-feeds {
  font-size: 0px;
}
/* line 24, ../../src/style/_base.scss */
#sidebar .icon-buttons .export-feeds:before {
  font-family: "Icons";
  content: "\e03c";
  font-size: 20px;
}
/* line 70, ../../src/style/_sidebar.scss */
#sidebar .icon-buttons .refresh {
  font-size: 0px;
}
/* line 24, ../../src/style/_base.scss */
#sidebar .icon-buttons .refresh:before {
  font-family: "Icons";
  content: "\e0b3";
  font-size: 20px;
}
/* line 75, ../../src/style/_sidebar.scss */
#sidebar .menu-item {
  border-bottom: 1px solid #506760;
}
/* line 80, ../../src/style/_sidebar.scss */
#sidebar #feeds .folder > h4 {
  padding: 0.75em;
  background: #1c283a;
  color: white;
  position: relative;
}
/* line 86, ../../src/style/_sidebar.scss */
#sidebar #feeds .folder > h4 .plus-button {
  font-size: 0px;
}
/* line 24, ../../src/style/_base.scss */
#sidebar #feeds .folder > h4 .plus-button:before {
  font-family: "Icons";
  content: "\e0aa";
  font-size: 20px;
}
/* line 90, ../../src/style/_sidebar.scss */
#sidebar #feeds .folder > h4 .minus-button {
  font-size: 0px;
}
/* line 24, ../../src/style/_base.scss */
#sidebar #feeds .folder > h4 .minus-button:before {
  font-family: "Icons";
  content: "\e09d";
  font-size: 20px;
}
/* line 94, ../../src/style/_sidebar.scss */
#sidebar #feeds .folder > h4 .plus-button, #sidebar #feeds .folder > h4 .minus-button {
  float: right;
  padding: 15px;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: none;
}
/* line 96, ../../src/style/_sidebar.scss */
#sidebar #feeds .folder > h4 .plus-button:before, #sidebar #feeds .folder > h4 .minus-button:before {
  font-size: 10px;
}
/* line 107, ../../src/style/_sidebar.scss */
#sidebar #feeds .feed-list {
  display: none;
}
/* line 111, ../../src/style/_sidebar.scss */
#sidebar #feeds .expanded .feed-list {
  display: block;
}
/* line 116, ../../src/style/_sidebar.scss */
.menu-expanded #sidebar {
  display: block;
  z-index: 9999;
}

@media screen and (min-width: 900px) {
  /* line 123, ../../src/style/_sidebar.scss */
  #sidebar {
    display: block;
    min-width: 220px;
    position: relative;
    height: auto;
    font-size: 13px;
    z-index: 0;
  }
  /* line 132, ../../src/style/_sidebar.scss */
  #sidebar .icon-buttons .menu-icon {
    padding: 10px;
  }
  /* line 137, ../../src/style/_sidebar.scss */
  #sidebar .search-box {
    display: none;
  }
}
/* line 1, ../../src/style/_feedspanel.scss */
#feeds-panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
/* line 6, ../../src/style/_feedspanel.scss */
#feeds-panel .feed-title {
  display: none;
  min-height: 25px;
}
/* line 13, ../../src/style/_feedspanel.scss */
.compact-view #feeds-panel .feed-content .rss-title {
  font-size: 90%;
}
/* line 16, ../../src/style/_feedspanel.scss */
.compact-view #feeds-panel .feed-content .rss-description-preview {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  font-size: 95%;
  color: #888;
}
/* line 25, ../../src/style/_feedspanel.scss */
.compact-view #feeds-panel .feed-content.expanded .rss-description {
  display: block;
}
/* line 28, ../../src/style/_feedspanel.scss */
.compact-view #feeds-panel .feed-content.expanded .rss-description-preview {
  display: none;
}
/* line 35, ../../src/style/_feedspanel.scss */
.expanded-view #feeds-panel {
  padding-top: 5px;
}
/* line 37, ../../src/style/_feedspanel.scss */
.expanded-view #feeds-panel .feed-content {
  border: 1px solid #506760;
  margin: 10px;
  margin-bottom: 0px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #aaa;
}
/* line 43, ../../src/style/_feedspanel.scss */
.expanded-view #feeds-panel .feed-content .rss-description-preview {
  display: none;
}
/* line 46, ../../src/style/_feedspanel.scss */
.expanded-view #feeds-panel .feed-content .rss-description {
  display: block;
}
/* line 49, ../../src/style/_feedspanel.scss */
.expanded-view #feeds-panel .feed-content .rss-description-preview {
  display: none;
}
/* line 55, ../../src/style/_feedspanel.scss */
#feeds-panel .feed-content {
  border-bottom: 1px solid #aaa;
  padding: 0.5em;
  font-size: 85%;
  text-align: justify;
}
/* line 61, ../../src/style/_feedspanel.scss */
.expanded-view #feeds-panel .feed-content {
  padding: 2em;
}
/* line 65, ../../src/style/_feedspanel.scss */
#feeds-panel .feed-content .rss-item-header {
  overflow: hidden;
  text-align: left;
}
/* line 69, ../../src/style/_feedspanel.scss */
#feeds-panel .feed-content .rss-item-header .rss-title {
  font-family: "Open Sans";
  font-weight: 600;
  display: inline;
}
/* line 73, ../../src/style/_feedspanel.scss */
#feeds-panel .feed-content .rss-item-header .rss-title a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  line-height: 1.4rem;
}
/* line 82, ../../src/style/_feedspanel.scss */
#feeds-panel .feed-content .rss-description {
  font-family: "Open Sans";
  margin-top: 1em;
  display: none;
  line-height: 1.3em;
}
/* line 88, ../../src/style/_feedspanel.scss */
#feeds-panel .feed-content .rss-description.expanded {
  display: block;
}
/* line 93, ../../src/style/_feedspanel.scss */
#feeds-panel .feed-content .rss-description::shadow * {
  max-width: 100%;
}

@media screen and (min-width: 900px) {
  /* line 103, ../../src/style/_feedspanel.scss */
  #feeds-panel .feed-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 10px;
    color: #3b5950;
    font-family: "Open Sans";
    border-bottom: 1px solid #aaa;
  }
  /* line 110, ../../src/style/_feedspanel.scss */
  #feeds-panel .feed-title a {
    font-size: 12px;
    margin-right: 10px;
    line-height: 28px;
    text-decoration: underline;
    cursor: pointer;
  }
  /* line 118, ../../src/style/_feedspanel.scss */
  #feeds-panel .feed-title .feed-title-text {
    line-height: 28px;
    font-weight: 600;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 1.2rem;
  }
  /* line 127, ../../src/style/_feedspanel.scss */
  .compact-view #feeds-panel .feed-content .rss-description-preview {
    display: inline;
  }
  /* line 132, ../../src/style/_feedspanel.scss */
  .expanded-view #feeds-panel {
    padding-top: 0px;
  }
  /* line 134, ../../src/style/_feedspanel.scss */
  .expanded-view #feeds-panel .feeds-wrapper .feed-content {
    padding: 2rem;
    max-width: 940px;
    margin: 1rem auto;
    box-shadow: none;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #1c283a;
  }
  /* line 143, ../../src/style/_feedspanel.scss */
  .expanded-view #feeds-panel .feeds-wrapper .feed-content .rss-item-header {
    overflow: visible;
    display: block;
  }
  /* line 146, ../../src/style/_feedspanel.scss */
  .expanded-view #feeds-panel .feeds-wrapper .feed-content .rss-item-header .rss-title a {
    font-size: 1.6rem;
  }
  /* line 155, ../../src/style/_feedspanel.scss */
  #feeds-panel .feeds-wrapper .feed-content .rss-item-header {
    white-space: nowrap;
  }
  /* line 157, ../../src/style/_feedspanel.scss */
  #feeds-panel .feeds-wrapper .feed-content .rss-item-header .rss-title a {
    margin-right: 5px;
    color: #1C283A;
  }
  /* line 164, ../../src/style/_feedspanel.scss */
  #feeds-panel .feeds-wrapper .feed-content.expanded .rss-description-preview {
    display: none;
  }
  /* line 170, ../../src/style/_feedspanel.scss */
  #feeds-panel .feeds-wrapper {
    margin-top: 0px;
    overflow-y: auto;
  }
}
/* line 1, ../../src/style/_popup.scss */
#feed-popup {
  display: none;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 2, ../../src/style/_popup.scss */
.feed-popup-visible #feed-popup {
  display: block !important;
}
/* line 13, ../../src/style/_popup.scss */
#feed-popup .popup-wrapper {
  position: fixed;
  width: 100%;
  z-index: 3;
}
/* line 18, ../../src/style/_popup.scss */
#feed-popup .second-wrapper {
  background: #eee;
  padding-bottom: 20px;
  margin-top: 24px;
}
/* line 23, ../../src/style/_popup.scss */
#feed-popup .gray {
  position: absolute;
  width: 100%;
  height: 100%;
  background: grey;
  opacity: 0.6;
  top: 0;
  left: 0;
}
/* line 32, ../../src/style/_popup.scss */
#feed-popup .popup {
  width: 300px;
  margin: auto;
  padding: 50px;
  margin-top: 100px;
  padding-top: 90px;
  position: relative;
}
/* line 40, ../../src/style/_popup.scss */
#feed-popup .popup h2 {
  position: absolute;
  top: 23px;
  left: 0px;
  border-bottom: 1px solid #3B5950;
  padding-left: 0px;
  padding-top: 10px;
  width: 350px;
  text-align: left;
  padding-bottom: 3px;
  color: #3B5950;
  font-family: "Open Sans";
  font-weight: 600;
}
/* line 55, ../../src/style/_popup.scss */
#feed-popup .popup input {
  position: absolute;
  left: -1px;
  top: 65px;
  width: 389px;
}
/* line 61, ../../src/style/_popup.scss */
#feed-popup .popup .button-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 11px;
  padding-bottom: 4px;
}
/* line 69, ../../src/style/_popup.scss */
#feed-popup .popup .button-holder a {
  padding: 5px;
  border: 1px solid black;
  width: 80px;
  display: block;
  text-decoration: none;
  color: black;
  border: 1px outset #888;
  color: white;
  font-weight: bold;
  background: #888;
  cursor: pointer;
}
/* line 84, ../../src/style/_popup.scss */
#feed-popup .popup .button-holder a:first-child {
  margin-right: 5px;
  background: #3B5950;
}

/* line 33, ../../src/style/main.scss */
.content {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -moz-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  overflow-y: auto;
  height: 100%;
}
/* line 39, ../../src/style/main.scss */
.menu-expanded .content {
  overflow-y: hidden;
}

/* line 44, ../../src/style/main.scss */
#empty-subscription-panel {
  margin-top: 50px;
  margin-left: 20px;
  font-size: 150%;
  color: #3b5950;
  line-height: 30px;
}
/* line 51, ../../src/style/main.scss */
#empty-subscription-panel p {
  padding: 10px;
}
/* line 54, ../../src/style/main.scss */
#empty-subscription-panel .emphasis {
  font-weight: bold;
  color: #1c283a;
}
/* line 58, ../../src/style/main.scss */
#empty-subscription-panel a {
  padding-left: 10px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  color: #1c283a;
}
