include ./menu.jade

header
  a.menu-icon Menu
  div.logo
    img(src="/images/logo.png", height="100%")
    .text #[span.ghoul Ghoul] #[span.reader Reader]

section#feeds-panel
  .feeds-wrapper
    include ./feed-new-b
    - var n = 0
    while n < 50
      - n++
      include ./feed-new-a
  
