section#feeds-panel
  .feed-title
    .feed-title-text Sunlight foundation
    a.compact-button(href="#") Compact View
    a.expand-button(href="#") Expanded View

  .feeds-wrapper
    include ./feed-new-b
    - var n = 0
    while n < 50
      - n++
      include ./feed-new-a