article.feed-content
  .rss-item-header
    h4.rss-title #[a.rss-link(href="http://feeds.weblogssl.com/~r/vidaextra/~3/xVAgkTSy7AU/los-usuarios-de-pc-tambien-podran-disfrutar-de-dead-or-alive-5-last-round") Los usuarios de PC también podrán disfrutar de Dead or Alive 5: Last Round]
    h5.rss-description-preview ‘Dead or Alive 5: Last Round’ ya tiene su fecha de lanzamiento fijada para el 20 de febrero de 2015 para Xbox One y PS4. La buena noticia es que también se lanzará una versión para PC ese mismo día de lanzamiento, no hay necesidad de esperar.
  .rss-description
    include ./feed-new-a-description
    span.rss-pudate Thu, 04 Dec 2014 17:31:52 GMT
  