section#sidebar
  div.icon-buttons
    a.menu-icon.add-group Add Group
    a.menu-icon.add-feed Add Feed
    a.menu-icon.import-feeds Import
    a.menu-icon.export-feeds Export
    a.menu-icon.refresh Refresh

  div.search-box
    input(placeholder="Búsqueda")
  a.menu-item.all All Items
  a.menu-item.favorite Favorites
  a.menu-item.shared Shared

  #feeds
    ul
      li
        div.folder
          h4 Programming #[span.count (773)] #[a.plus-button Expandir]
          ul.feed-list
            li #[a #[span Hackernews] #[span.count (11)]]
            li #[a #[span Slashdot] #[span.count (11)]]
            li #[a #[span Reddit programming] #[span.count (11)]]
      li
        div.folder.expanded
          h4 Games #[span.count (773)] #[a.minus-button Contraer]
          ul.feed-list
            li #[a #[span Vidaextra] #[span.count (11)]]
            li #[a #[span Reddit] Games #[span.count (11)]]
            li #[a #[span Kotaku] #[span.count (11)]]
      li
        div.folder.expanded
          h4 News #[span.count (773)] #[a.minus-button Contraer]
          ul.feed-list
            li #[a #[span 20 Minutos] #[span.count (11)]]
            li #[a #[span Hackernews] #[span.count (11)]]
            li #[a #[span Hackernews] #[span.count (11)]]

      li
        div.folder.expanded
          h4 News #[span.count (773)] #[a.minus-button Contraer]
          ul.feed-list
            li #[a 20 Minutos #[span.count (11)]]
            li #[a Hackernews #[span.count (11)]]
            li #[a Hackernews #[span.count (11)]]

      li
        div.folder.expanded
          h4 News #[span.count (773)] #[a.minus-button Contraer]
          ul.feed-list
            li #[a 20 Minutos #[span.count (11)]]
            li #[a Hackernews #[span.count (11)]]
            li #[a Hackernews #[span.count (11)]]
