article.feed-content
  h4.rss-title #[a.rss-link(href="http://feeds.weblogssl.com/~r/vidaextra/~3/xVAgkTSy7AU/los-usuarios-de-pc-tambien-podran-disfrutar-de-dead-or-alive-5-last-round") Los usuarios de PC también podrán disfrutar de Dead or Alive 5: Last Round]
  div.rss-description.expanded
    include ./feed-new-a-description
    span.rss-pudate Thu, 04 Dec 2014 17:31:52 GMT
  