doctype html
html
  include common/head.jade
  body.expanded-view
    include common/main.jade
    //#app-root
    script(src="http://fb.me/react-0.11.2.js")
    script(src="js/out/goog/base.js", type="text/javascript")
    script(type="text/javascript", src="js/app.js")
    script(type='text/javascript').
      goog.require("ghoul.main");
