doctype html
html
  head
    title RSS Leader
    link(rel="stylesheet", type="text/css", href="style/main.css")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Bree+Serif', rel='stylesheet', type='text/css')
    meta(name="viewport", content="width=device-width, initial-scale=1")

  body
    header
      a.menu-icon Menu

    include ./menu.jade

    section#feeds-panel
      include ./feed-new-a
      - var n = 0
      while n < 50
        - n++
        include ./feed-new-a
  
