doctype html
html
  head
    title Ghoul Reader
    link(rel="stylesheet", type="text/css", href="style/main.css")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700', rel='stylesheet', type='text/css')
    meta(name="viewport", content="width=device-width, initial-scale=1")

  body // .menu-expanded
    include ./menu.jade
    
    header
      a.menu-icon Menu

    section#feeds-panel
      .feeds-wrapper
        include ./feed-new-b
        - var n = 0
        while n < 50
          - n++
          include ./feed-new-a
  
