$ghoul-color-dark: #1C283A;
$ghoul-color-normal: #3B5950;
$ghoul-color-light: #506760;

$header-color: #ddd;
$title-ghoul-color: black;
$title-reader-color: black;
$header-menu-background: grey;
$header-menu-icon: #ddd;

$ghoul-main: #B2F785;
$ghoul-main-light: #EEFFDB;
$ghoul-main-border: #9CD975;

$font-color             : #333;
$iconic-font-path: '../fonts/' !default;

@import "compass/reset";
@import "compass/utilities";

@font-face {
  font-family: 'Icons';
  src: url('#{$iconic-font-path}open-iconic.eot');
  src: url('#{$iconic-font-path}open-iconic.eot?#iconic-sm') format('embedded-opentype'), url('#{$iconic-font-path}open-iconic.woff') format('woff'), url('#{$iconic-font-path}open-iconic.ttf') format('truetype'), url('#{$iconic-font-path}open-iconic.otf') format('opentype'), url('#{$iconic-font-path}open-iconic.svg#iconic-sm') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin icon($code) {
  font-size: 0px;

  &:before {
    font-family: "Icons";
    content: $code;
    font-size: 20px;
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
