#feeds-panel {
  @include flexbox;
  @include flex-direction(column);
  width: 100%;

  .feed-title {
    display: none;
    min-height: 25px;
  }

  .compact-view & {
    .feed-content {
      .rss-title {
        font-size: 90%;
      }
      .rss-description-preview {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        font-size: 95%;
        color: #888;
      }

      &.expanded {
        .rss-description {
          display: block;
        }
        .rss-description-preview {
          display: none;
        }
      }
    }
  }

  .expanded-view & {
    padding-top: 5px;
    .feed-content {
      border: 1px solid $ghoul-color-light;
      margin: 10px;
      margin-bottom: 0px;
      border-radius: 5px;
      box-shadow: 0px 2px 5px #aaa;
      .rss-description-preview {
        display: none;
      }
      .rss-description {
        display: block;
      }
      .rss-description-preview {
        display: none;
      }
    }
  }

  .feed-content {
    border-bottom: 1px solid #aaa;
    padding: 0.5em;
    font-size: 85%;
    text-align: justify;

    .expanded-view & {
      padding: 2em;
    }

    .rss-item-header {
      overflow: hidden;
      text-align: left;

      .rss-title {
        font-family: "Open Sans";
        font-weight: 600;
        display: inline;
        a {
          text-decoration: none;
          color: black;
          font-size: 1.2rem;
          line-height: 1.4rem;
        }
      }
    }

    .rss-description {
      font-family: "Open Sans";
      margin-top: 1em;
      display: none;
      line-height: 1.3em;

      &.expanded {
        display: block;
      }

      &::shadow {
        * {
          max-width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  #feeds-panel {
    .feed-title {
      @include flexbox;
      padding: 5px 10px;
      color: $ghoul-color-normal;
      font-family: "Open Sans";
      border-bottom: 1px solid #aaa;

      a {
        font-size: 12px;
        margin-right: 10px;
        line-height: 28px;
        text-decoration: underline;
        cursor: pointer;
      }

      .feed-title-text {
        line-height: 28px;
        font-weight: 600;
        @include flex-grow(1);
        font-size: 1.2rem;
      }
    }

    .compact-view & {
        .feed-content .rss-description-preview {
          display: inline;
        }
    }

    .expanded-view & {
      padding-top: 0px;
      .feeds-wrapper .feed-content {
        padding: 2rem;
        max-width: 940px;
        margin: 1rem auto;
        box-shadow: none;
        border-radius: 0px;
        border: none;
        border-bottom: 1px solid $ghoul-color-dark;

        .rss-item-header {
          overflow: visible;
          display: block;
          .rss-title a {
            font-size: 1.6rem;
          }
        }
      }
    }

    .feeds-wrapper {
      .feed-content {
        .rss-item-header {
          white-space: nowrap;
          .rss-title a {
            margin-right: 5px;
            color: #1C283A;
          }
        }

        &.expanded {
          .rss-description-preview {
            display: none;
          }
        }
      }
    }
    .feeds-wrapper {
      margin-top: 0px;
      overflow-y: auto;
    }
  }
}
