header {
  min-height: 45px;
  display: flex;
  background-color: #fff;
  border-bottom: 3px solid $ghoul-main;

  .menu-icon {
    @include icon("\e09b");
    color: #fff;
    padding: 13px;
    text-align: center;
    background-color: $ghoul-main;
    order: 2;
  }

  .logo {
    height: 45px;
    flex-grow: 1;
    img {
      height: 50px;
      padding-top: 5px;
      padding-left: 5px;
      margin-right: 5px;
      position: relative;
      z-index: 1;
    }
    .text {
      display: inline-block;
      vertical-align: middle;
      height: 45px;
      position: relative;
      top: -25px;

      .ghoul {
        font-family: "EB Garamond";
        font-size: 35px;
        margin-right: 2px;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  header .menu-icon {
    display: none;
  }
}
