header {
  min-height: 45px;
  display: flex;
  background-color: #ddd;

  .menu-icon {
    @include icon("\e09b");
    color: #ddd;
    padding: 13px;
    text-align: center;
    background-color: grey;
    order: 2;
  }

  .logo {
    height: 45px;
    flex-grow: 1;
    img {
      height: 35px;
      padding-top: 2px;
      padding-left: 5px;
    }
    .text {
      display: inline-block;
      vertical-align: middle;
      height: 45px;
      line-height: 20px;

      .ghoul {
        font-family: "EB Garamond";
        font-size: 30px;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  header .menu-icon {
    display: none;
  }
}
