#feed-popup {
  .feed-popup-visible & {
    display: block !important;
  }

  display: none;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  text-align: center;

  .popup-wrapper {
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  .second-wrapper {
    background: #eee;
    padding-bottom: 20px;
    margin-top: 24px;
  }
  .gray {
    position: absolute;
    width: 100%;
    height: 100%;
    background: grey;
    opacity: 0.6;
    top: 0;
    left: 0;
  }
  .popup {
    width: 300px;
    margin: auto;
    padding: 50px;
    margin-top: 100px;
    padding-top: 90px;
    position: relative;

    h2 {
      position: absolute;
      top: 23px;
      left: 0px;
      border-bottom: 1px solid #3B5950;
      padding-left: 0px;
      padding-top: 10px;
      width: 350px;
      text-align: left;
      padding-bottom: 3px;

      color: #3B5950;
      font-family: "Open Sans";
      font-weight: 600;
    }
    input {
      position: absolute;
      left: -1px;
      top: 65px;
      width: 389px;
    }
    .button-holder {
      @include flexbox;
      position: absolute;
      bottom: 0;
      right: 0;
      padding-right: 11px;
      padding-bottom: 4px;

      a {
        padding: 5px;
        border: 1px solid black;
        width: 80px;
        display: block;
        text-decoration: none;
        color: black;

        border: 1px outset #888;
        color: white;
        font-weight: bold;
        background: #888;

        cursor: pointer;

        &:first-child {
          margin-right: 5px;
          background: #3B5950;
        }
      }
    }
  }
}
