.search-box {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #B2F785;

  @include icon("\e08f");

  &:before {
    font-size: 16px;
    position: absolute;
    margin-top: 11px;
    margin-left: 5px;
    color: #888;
  }

  input {
    width: 100%;
    border: 1px inset;
    height: 25px;
    padding: 5px;
    padding-left: 30px;
    font-size: 14px;
    background-color: #fdfdfd;
  }
}

#sidebar {
  display: none;
  position: fixed;
  background: $ghoul-color-normal;
  border-right: 1px solid $ghoul-color-dark;
  overflow-y: auto;
  min-width: 85%;
  height: 100%;
  top: 0px;
  z-index: 2;

  a {
    display: block;
    font-family: "Open Sans";
    padding: 0.75em;
    cursor: pointer;
    color: #fff;
    border-bottom: 1px solid $ghoul-color-light;
  }

  .icon-buttons {
    @include flexbox;
    @include flex-direction(row);

    .menu-icon {
      color: $ghoul-color-lighter;
      padding: 1.4rem;
      margin: 2px auto;
      border: 1px solid $ghoul-color-normal;
    }

    .add-group {
        @include icon("\e06b");
    }
    .add-feed {
        @include icon("\e0b8");
    }
    .import-feeds {
        @include icon("\e03d");
    }
    .export-feeds {
        @include icon("\e03c");
    }
    .refresh {
        @include icon("\e0b3");
    }
  }

  .menu-item {
    border-bottom: 1px solid $ghoul-color-light;
  }

  #feeds {
    .folder > h4 {
      padding: 0.75em;
      background: $ghoul-color-dark;
      color: white;
      position: relative;

      .plus-button {
        @include icon("\e0aa");
      }

      .minus-button {
        @include icon("\e09d");
      }

      .plus-button, .minus-button {
        float: right;
        &:before {
          font-size: 10px;
        }
        padding: 15px;
        position: absolute;
        top: 0;
        right: 0;
        border-bottom: none;
      }
    }

    .feed-list {
      display: none;
    }

    .expanded .feed-list {
      display: block;
    }
  }

  .menu-expanded & {
    display: block;
    z-index: 9999;
  }
}

@media screen and (min-width: 900px) {
  #sidebar {
    display: block;
    min-width: 220px;
    position: relative;
    height: auto;
    font-size: 13px;
    z-index: 0;

    .icon-buttons {
      .menu-icon {
        padding: 10px;
      }
    }

    .search-box {
      display: none;
    }
  }
}
