@import "base";

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  &.menu-expanded {
    overflow: hidden;
  }
}

@media screen and (min-width: 900px) {
  body, html {
    overflow: hidden;
  }
}

@import "header";
@import "sidebar";
@import "feedspanel";

.content {
  overflow-y: auto;
  flex-grow: 2;
  display: flex;

  .menu-expanded & {
    overflow-y: hidden;
  }
}