@import "base";

html, body {
  height: 100%;
}

body {
  &.menu-expanded {
    overflow: hidden;
  }
}

.app-container {
  display: flex;
  flex-direction: column;
}

#app-root, .app-container, #app-root > div {
  height: 100%;
}

@media screen and (min-width: 900px) {
  body, html {
    overflow: hidden;
  }
}

@import "header";
@import "sidebar";
@import "feedspanel";
@import "popup";

.content {
  overflow-y: auto;
  flex-grow: 2;
  display: flex;
  height: 100%;

  .menu-expanded & {
    overflow-y: hidden;
  }
}