$ghoul-logo-url: '/images/ghoul-reader-logo-tranparent.png';

@keyframes slide-open {
    from { min-height: 75px;}
    to { min-height: 100%; }
}

@keyframes slide-close {
    from { min-height: 100%;}
    to { min-height: 75px; }
}

.feeds-menu {
    font-size: 1.3rem;
    font-family: $font-sans;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 3em;
    flex-basis: 0;

    @media screen and (min-width: $responsive-large) {
        height: 100%;
        font-size: 1.2em;
    }

    .is-visible & {
        min-height: 100%;
        height: 100%;
        animation: slide-open 300ms ease-in-out;
    }

    .is-hidden & {
        min-height: 75px;
        animation: slide-close 300ms ease-in-out;
    }

    &__logo {
        min-height: 2em;
        padding: 0;
        background: url($ghoul-logo-url) no-repeat left center;
        background-size: auto 2em;
        padding-left: 5em;
        font-size: 1em;
        font-family: $font-serif;
        margin: 0.5em 1.5em;
        line-height: 2em;
    }

    &__add-subscription-wrapper {
        position: relative;
        .is-step1 & {
        }
        .is-step2 & {
            top: -1.9em;
            animation: step1-to-step2 ease-out 300ms;
        }
        .is-step3 & {
            top: -4.3em;
            animation: step2-to-step3 ease-out 300ms;
        }
    }

    &__add-container {
        display: flex;
    }

    &__feed-url {
        padding: 1em;
        font-size: 0.7em;
        width: 100%;
        border: 2px solid $primary-color-dark;
    }

    &__feed-info-container {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 0.5em;
        background-color: #00796B;
    }

    &__subcription-buttons {
        display: flex;
        align-items: center;
    }

    &__feed-title {
        padding: 0.2em;
        margin-left: 2em;
        border: none;
        font-size: 1.1em;
        background-color: #00796B;
        color: white;
    }

    &__feed-description {
        color: white;
        padding: 0.75em 0em;
        font-size: 0.8em;
        line-height: 1.3em;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        max-height: 3em;
    }

    &__favicon--info-container {
        position: absolute;
        width: 20px;
        margin: 2px 5px;
    }

    &__section {
        &--add-subscription {
            display: flex;
            flex-direction: column;
            margin: 0.3em 1.5em;
            overflow: hidden;

            &.is-step1 {
                height: 1.9em;
                min-height: 1.9em;
            }
            &.is-step2 {
                height: 2.4em;
                min-height: 2.4em;
            }
            &.is-step3 {
                height: 8.5em;
                min-height: 8.5em;
            }
            
        }
        &--filters {
        }
        &--subscriptions {
            padding: 0 1.5em;
            overflow: auto;
            flex-grow: 1;
        }
        &--config {
            padding-top: 3px;
            bottom: 0px;
            display: flex;
            justify-content: center;
        }
    }
    
    &__filter {
        @mixin feeds-menu__filter($icon) {
            padding: 0.0em 1.5em;
            
            &.is-selected {
                font-weight: bold;
            }

            a {
                padding: 0.7em 0em;
                text-decoration: initial;
                color: $normal-text-color;
                display: block;
                line-height: 1.5em;

                &:before {
                    font-family: "Icons";
                    content: $icon;
                    float: left;
                    margin-right: 0.5em;
                    font-size: 1.2em;
                    color: #B6B6B6;
                }
            }
        }

        &--all-items {
            @include feeds-menu__filter("\e0b8");
        }
        &--favorites {
            @include feeds-menu__filter("\e0c2");
        }
        &--shared {
            @include feeds-menu__filter("\e0cc");
        }
    }

    &__subscription-header {
        display: flex;
        align-items: center;
        margin: 0 1.5em;
    }

    &__title {
        &--subscriptions {
            flex-grow: 1;
            font-weight: 600;
            color: $secondary-text-color;
        }
    }

    &__subscriptions {
    }

    &__error-message {
        left: 2em;
        position: absolute;
        margin: 0.4em 0 3em;
        border: 2px solid red;
        color: red;
        background: #FFF2F2;
        border-radius: 10px;
        padding: 0.5em 3em;
        font-size: 0.9em;

        &:before {
            content: "";
            position: absolute;
            border-style: solid;
            border-color: red transparent;
            display: block;
            width: 0;
            top: -16px;
            bottom: auto;
            left: 44px;
            border-width: 0 16px 16px;
        }

        &:after {
            content: "";
            position: absolute;
            border-style: solid;
            border-color: #FFF2F2 transparent;
            display: block;
            width: 0;
            top: -13px;
            bottom: auto;
            left: 47px;
            border-width: 0 13px 13px;
        }
    }

    &__btn {
        &--add-subscription {
            display: block;
            padding: 0.7em 1.5em;
            padding-right: 1em;
            text-transform: uppercase;
            background-color: $primary-color-dark;
            color: $primary-color-text;
            text-decoration: initial;
            font-size: 0.8em;

            &:before {
                font-family: "Icons";
                content: "\e0aa";
                width: auto;
                font-size: 0.8em;
                float: right;
            }
        }

        &--add-subscription-small {
            padding: 0.5em 0.7em;
            text-decoration: none;
            background-color: $primary-color-dark;
            color: $primary-color-text;
            text-indent: -9999px;

            &:before {
                font-family: "Icons";
                content: "\e0aa";
                width: auto;
                font-size: 0.8em;
                float: right;
                text-indent: 0;
                line-height: 1.5em;
            }
            .is-loading &:before {
                content: "";
                background-image: url(/images/spinner.gif);
                display: block;
                width: 22px;
                height: 22px;
                background-size: 22px;
            }
        }

        &--finish-subscription {
            border: 1px solid white;
            color: $primary-text-color;
            text-decoration: none;
            padding: 0.4em 0em;
            text-align: center;
            flex-grow: 3;
            background-color: $primary-color-light;
            position: relative;

            .is-loading & {
                text-indent: -9999px;
            }
            .is-loading &:before {
                content: "";
                background-image: url(/images/spinner.gif);
                width: 22px;
                height: 22px;
                background-size: 22px;
                position: absolute;
                text-indent: 0;
                left: 40%;
            }
        }

        &--cancel-subscription {
            flex-grow: 1;
            text-align: center;
            color: $primary-color-light;
        }

        &--new-group {
            width: 24px;
            padding: 0.8em;
            padding-right: 0;
            color: $accent-color;
            text-indent: -9999px;
            float: right;
            clear: both;
            position: relative;

            &:before {
                content: "\e06b";
                font-family: "Icons";
                text-indent: 0;
                float: right;
                font-size: 1.1em;
                color: #b2dfdb;
            }

            &:after {
                content: "\e0aa";
                font-family: "Icons";
                text-indent: 0;
                float: right;
                color: #00796B;
                position: absolute;
                font-size: 12px;
                top: 18px;
                right: -5px;
                text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
            }
        }


        @mixin feeds-menu__config-button($icon) {
            text-indent: -9999px;
            display: block;
            padding: 0.3em 0.6em;
            text-transform: uppercase;
            color: $accent-color;
            font-size: 0.9em;

            &:before {
                content: $icon;
                font-family: "Icons";
                float: left;
                text-indent: 0;
                width: 100%;
                text-align: center;
                font-size: 1.5em;
            }
        }
        
        &--import {
            @include feeds-menu__config-button("\e03d");
            position: relative;

            input {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                max-width: 100%;
                height: 100%;
                cursor: pointer;
            }
        }

        &--export {
            @include feeds-menu__config-button("\e03c");
        }

        &--refresh {
            @include feeds-menu__config-button("\e0b3");
        }
    }
}

