header {
  min-height: 45px;
  @include flexbox;
  background-color: #fff;
  border-bottom: 4px solid $ghoul-color-dark;

  .menu-icon {
    @include icon("\e09b");
    color: #fff;
    padding: 13px;
    text-align: center;
    background-color: $ghoul-color-dark;
    @include order(2);
  }

  .search-box {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  header {
    .menu-icon {
      display: none;
    }
    .search-box {
      display: block;
      width: 300px;
      margin: 3px;
    }
  }
}
