@keyframes group-unfold {
    from { transform: rotate(0deg) translateX(0px) translateY(0px); }
    to   { transform: rotate(90deg) translateX(5px) translateY(5px); }
}

@keyframes group-fold {
    from { transform: rotate(90deg) translateX(5px) translateY(5px); }
    to   { transform: rotate(0deg) translateX(0px) translateY(0px); }
}

@keyframes list-fold {
    from { max-height: 100%; }
    to   { max-height: 0%; }
}

@keyframes list-unfold {
    from { max-height: 0%; }
    to   { max-height: 100%; }
}

@keyframes step1-to-step2 {
    from { top: 0em; }
    to   { top: -1.9em; }
}

@keyframes step2-to-step3 {
    from { top: -1.9em; }
    to   { top: -4.3em; }
}

.subscriptions-list {
    &__favicon {
        display: block;
        width: 1.3em;
        height: 1.3em;
    }

    &__group-feeds {
        display: none;
        width: 100%;
        padding-left: 2em;
        text-decoration: none;
        overflow: hidden;
        max-height: 0%;

        .is-expanded & {
            display: block;
            max-height: 100%;
            animation: list-unfold ease-out 500ms;
        }
        .is-collapsed & {
            display: none;
            animation: list-fold ease-out 500ms;
        }
    }

    &__group-link {
        flex-grow: 1;
        text-decoration: initial;
        display: flex;
    }

    &__title {
        display: flex;
        flex-grow: 1;
        text-decoration: initial;
        color: #212121;
        padding: 0.4em 0.8em;
        padding-right: 0;
        align-items: baseline;
    }

    &__name {
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 12em;
        line-height: 1.2em;

        &--group {
            flex-grow: 1;
            padding: 0;
            text-transform: uppercase;
            text-decoration: none;
            color: #212121;
            font-size: 0.9em;

            .is-selected & {
                font-weight: bold;
            }

            .is-editing & {
                display: none;
            }
        }
    }

    &__name-input {
        &--group {
            display: none;
            flex-grow: 1;
            text-transform: uppercase;
            color: #212121;
            font-size: 0.9em;
            
            .is-editing & {
                display: block;
            }
        }
    }

    &__subscription--feed.is-selected &__name {
        font-weight: bold;
    }

    &__count {
        @mixin subscription-list__count() {
            flex-grow: 1;
            text-align: right;
            color: #6F6F6F;
            font-size: 0.9em;
            line-height: 1.2em;
        }
        @include subscription-list__count();

        &--zero {
            @include subscription-list__count();
        }

        &--max {
            @include subscription-list__count();
        }
    }


    &__subscription {
        &--feed {
            display: flex;
            align-items: center;
        }

        &--group {
            display: flex;
            align-items: baseline;
            flex-direction: row;
            flex-wrap: wrap;

            &.is-hovering {
                background-color: #B2DFDD;
            }
        }
    }

    &__btn {
        &--expand {
            text-indent: -9999px;
            line-height: 1em;
            flex-grow: 0;
            display: block;
            padding: 0.4em;

            &:before {
                font-family: "Icons";
                content: "\e036";
                font-size: 0.8em;
                text-indent: 0;
                float: left;
                width: 100%;
                color: $accent-color;
                margin-right: 0.5em;

                transform: initia;
                transition: transform 500ms;
            }

            .is-expanded &:before {
                transform: rotate(90deg) translateX(5px) translateY(5px);
                transition: transform 500ms;
            }

        }
    }
}
