$responsive-large:     900px;
$normal-text-color:    black;

$primary-color-dark:   #00796B;
$primary-color:        #009688;
$primary-color-light:  #B2DFDB;
$primary-color-text:   #FFFFFF;
$accent-color:         #9E9E9E;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;

$scroll-background:    #EEE;
$scroll-foreground:    #DDD;
$font-sans:            "Open Sans";
$font-serif:           "Georgia";

@import "reset";
@import "main-container";
@import "feeds-menu";
@import "subscriptions-list";
@import "articles-view";
@import "subscription-header";
@import "article";

html, body, #ghoul-reader {
    height: 100%;
}

::-webkit-scrollbar {
    width: 4px;
    background: $scroll-background;
}

::-webkit-scrollbar-thumb {
    background: $scroll-foreground;
}

::-webkit-scrollbar-corner {
    background: #000;
}

::shadow img {
    max-width: 100%;
}